---
layout: article
title: Article 15
tagline: Required Reports
header: Pages
---
<H2>Article 15. Required Reports</H2>
<H3>15.1. Annual Report</H3>
<p>The board shall cause an annual report to be sent to the members and directors within 120
days after the end of the corporation's fiscal year. That report shall contain the following
information, in appropriate detail:
<ul>
<li>(a) The assets and liabilities, including the trust funds, of the corporation as of the
end of the fiscal year;</li>
<li>(b) The principal changes in assets and liabilities, including trust funds;</li>
<li>(c) The corporation's revenue or receipts, both unrestricted and restricted to
particular purposes;</li>
<li>(d) The corporation's expenses or disbursements for both general and restricted
purposes;</li>
<li>(e) Any information required by Section 14.1.c. of these bylaws; and
<li>(f) An independent accountants' report or, if none, the certificate of an authorized
officer of the corporation that such statements were prepared without audit from
the corporation's books and records.</li></p>
</ul>
<p>This requirement of an annual report shall not apply if the corporation receives less than
$25,000 in gross receipts during the fiscal year, provided, however, that the information specified above for inclusion in an annual report must be furnished annually to all
directors and to any member who requests it in writing. If the board approves, the
corporation may send the report and any accompanying material sent pursuant to this
section by electronic transmission.</p>
<H3>15.2. Annual Statement of Certain Transactions and Indemnifications</H3>
<p>As part of the annual report to all members, or as a separate document if no annual report
is issued, the corporation shall, within 120 days after the end of the corporation's fiscal
year, annually prepare and mail, deliver, or send by electronic transmission to each
member and furnish to each director a statement of any transaction or indemnification of
the following kind:</p><ul>
<li>(a) Any transaction
<ul>
<li>(i) in which the corporation, or its parent or subsidiary, was a party,
<li>(ii) in which an "interested person" had a direct or indirect material financial
interest, and
<li>(iii) which involved more than $50,000 or was one of several transactions with the
same interested person involving, in the aggregate, more than $50,000. For this
purpose, an "interested person" is either
<ul>
    <li>(1) any director or officer of the corporation, its parent or subsidiary (but
mere common directorship shall not be considered such an interest); or</li>
    <li>(2) any holder of more than 10 percent of the voting power of the
corporation, its parent, or its subsidiary. The statement shall include a brief
description of the transaction, the names of interested persons involved, their
relationship to the corporation, the nature of their interest in the transaction
and, if practicable, the amount of that interest, provided that if the transaction
was with a partnership in which the interested person is a partner, only the
interest of the partnership need be stated.</li>
</ul></li></ul></li>
<li>(b) Any indemnifications or advances aggregating more than $10,000 paid during the
fiscal year to any officer or director of the corporation under Article 11 of these bylaws,
unless that indemnification has already been approved by the members under
Corporations Code section 5238(e)(2).</li>
</ul>
